<script>
  var qs = deparam(location.search);
</script>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <h1 class="finish-course--title">Congratulations<span class="coolblue-dot">.</span></h1>
      <h2>You finished the "<script>document.write(courses[qs.course].title);</script>" course.</h2>
      <h3>You deserve to share this accomplishment with the rest of the world.</h3>
      <div class="congratulations">
        <img class="img-responsive img-unicorn" src="/images/UnicornAnimated.gif" alt="">
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 share">
      <h3>Sharing is caring</h3>
      <ul class="share-links">
        <li class="share-item">
          <a class="sharing" href="https://plus.google.com/share?url=" onclick="javascript:window.open(this.href,
'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><img
src="/images/icons/SNetworks_Google_Normal.png" width="80" alt="Share on Google+" onmouseover="$(this).attr('src', '/images/icons/SNetworks_Google_Pressed.png')" onmouseout="$(this).attr('src', '/images/icons/SNetworks_Google_Normal.png')"/></a>
        </li>
        <li class="share-item">
            <img
src="/images/icons/SNetworks_Facebook_Normal.png" width="80" alt="Share on Facebook" onmouseover="$(this).attr('src', '/images/icons/SNetworks_Facebook_Pressed.png')" onmouseout="$(this).attr('src', '/images/icons/SNetworks_Facebook_Normal.png')"/>
        </li>
        <li class="share-item">
          <a target="_new" href="https://twitter.com/share?text=I finished a Coolcademy course!"><img
src="/images/icons/SNetworks_Twitter_Normal.png" width="80" alt="Share on Twitter" onmouseover="$(this).attr('src', '/images/icons/SNetworks_Twitter_Pressed.png')" onmouseout="$(this).attr('src', '/images/icons/SNetworks_Twitter_Normal.png')"/></a>
<script type="text/javascript">
window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
</script>
        </li>
      </ul>
    </div>
	</div>
  <div class="row">
    <div class="col-xs-12">
      <iframe style="width: 100%" src="https://docs.google.com/a/coolblue.nl/forms/d/1AFzQac5GNu6xqhsnQKdZy0agcwA1DmX7e7rPSsrtSmE/viewform?embedded=true" height="700" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </div>
  </div>
</div>