@import "nib"
@import "_variables"
@import "_util/mixin"
@import "_util/grid"

h1, h2
  font-weight: bold
  text-transform: uppercase
  letter-spacing: -2px

h2
  color: color-darkblue

h3, h4, h5, h6, p
  color: color-offblack

h3, h4
  font-weight: bold

@import "_partial/course-overview"
@import "_partial/course-list"
@import "_partial/course-item"
@import "_partial/category"
@import "_partial/finish-course"