<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
  	<div class="col-xs-12 col-sm-4">
  		<h3 style="color:white;margin-top:0px">TRAININGEN</h3>
		<ul>
			<li><a href="https://sites.google.com/a/coolblue.nl/coolcademy/home/alle-trainingen">ALLE TRAININGEN</a></li>
			<li><a href="https://sites.google.com/a/coolblue.nl/coolcademy/home/downloads">DOWNLOADS</a></li>
			<li><a href="https://sites.google.com/a/coolblue.nl/coolcademy/home/e-learning">E-LEARNING</a></li>
			<li><a hrefr="https://sites.google.com/a/coolblue.nl/coolcademy/home/training-geven">TRAINING GEVEN</a></li>
		</ul>
  	</div>
  	<div class="col-xs-12 col-sm-4">
  		<h3 style="color:white;margin-top:0px">OVER COOLCADEMY</h3>
		<ul>
			<li><a href="https://sites.google.com/a/coolblue.nl/coolcademy/home/faq">VEELGESTELDE VRAGEN</a></li>
		</ul>
  	</div>
  	<div class="col-xs-12 col-sm-4">
  		<h3 style="color:white;margin-top:0px">MEER WETEN?</h3>
		<ul>
			<li>
				<ul>
					<a href="mailto:r.oei@coolblue.nl">MAIL RALPH OVER:</a>
					<li>COOLCADEMY</li>
					<li>COPYWRITING</li>
					<li>GOOGLE APPS</li>
					<li>MS OFFICE</li>
					<li>OF BEL: 06-55718095</li>
				</ul>
			</li>
		</ul>
  	</div>
  	<div class="col-xs-12">
  		<div id="footer-info" class="inner" style="width:150px">
	      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
	    </div>
  	</div>
  </div>
</footer>