.course-item
	padding-bottom: article-padding

.course-item--title
	font-size: 20px
	font-weight: bold
	margin: article-padding 0
	word-break: break-word
	& a
		color: color-offblack
		&:hover
			color: color-blue
			text-decoration: none

.course-item--image
	text-align: center

.course-item--link
	position: relative
	display: block

.language-badge
	position: absolute
	width: 25%
	right: -5%
	bottom: 5%
	z-index: 1

.back-to-course
	margin: article-padding 0 -10px
	display: block