.finish-course--title
  padding-top: article-padding
  color: color-darkblue

.finish-course--title,
.congratulations
  text-align: center
  padding-bottom: article-padding

.img-unicorn
    max-height: 500px
    display: inline-block

.share
	margin-bottom: block-margin

.share-links
	text-align: center

.share-item
	display: inline
	padding: 5px